{% extends 'base.html' %}

{% block title %}
Welcome to Leet-Mommy Search
{% endblock %}

{% block content %}

<div class='container'>

    {% if links_and_snips.get('r11') != None %}
    <h1>R11 Notes:</h1>
    <ul class="list-group">

        {% for link in links_and_snips.get('r11') %}
        <li class="list-group-item"><strong><a href="{{link[0]}}">{{link[0]}}</a></strong></li>
        <li class="list-group-item">
            <pre>{{link[1]}}</pre>
        </li>
        {% endfor %}
    </ul>

    {% endif %}

    {% if links_and_snips.get('r10') != None %}
    <h1>R10 Notes:</h1>
    <ul class="list-group">

        {% for link in links_and_snips.get('r10') %}
        <li class="list-group-item"><strong><a href="{{link[0]}}">{{link[0]}}</a></strong></li>
        <li class="list-group-item">
            <pre>{{link[1]}}</pre>
        </li>
        {% endfor %}
    </ul>

    {% endif %}

    {% if links_and_snips.get('r9') != None %}
    <h1>R9 Notes:</h1>
    <ul class="list-group">

        {% for link in links_and_snips.get('r9') %}
        <li class="list-group-item"><strong><a href="{{link[0]}}">{{link[0]}}</a></strong></li>
        <li class="list-group-item">
            <pre>{{link[1]}}</pre>
        </li>
        {% endfor %}
    </ul>

    {% endif %}

    {% if links_and_snips.get('r8') != None %}
    <h1>R8 Notes:</h1>
    <ul class="list-group">

        {% for link in links_and_snips.get('r8') %}
        <li class="list-group-item"><strong><a href="{{link[0]}}">{{link[0]}}</a></strong></li>
        <li class="list-group-item">
            <pre>{{link[1]}}</pre>
        </li>
        {% endfor %}
    </ul>

    {% endif %}



</div>

{% endblock %}