{% extends 'base.html' %}

{% block title %}
Welcome to Leet-Mommy Search
{% endblock %}

{% block content %}

<div class='container'>
    <form id='search-form' class='m-5'>
        <div class="form-group">
            <label for="search-word">Search Word:</label>
            <input type="text" class="form-control" name="search-word" id="search-word" placeholder="Enter a search"
                required="required">
            <label for="search-word">R11</label>
            <input type="checkbox" aria-label="Checkbox for following text input" name="r11" id="r11" value='r11'>
            <label for="search-word">R10</label>
            <input type="checkbox" aria-label="Checkbox for following text input" name="r10" id="r10" value='r10'>
            <label for="search-word">R9</label>
            <input type="checkbox" aria-label="Checkbox for following text input" name="r9" id="r9" value='r9'>
            <label for="search-word">R8</label>
            <input type="checkbox" aria-label="Checkbox for following text input" name="r8" id="r8" value='r8'>
        </div>
        <button class='btn btn-primary' formaction="/linkSearch" type='submit'>Get Links</button>
        <button class='btn btn-primary' formaction="/codeSnipSearch" type='submit'>CodeSnip</button>
        <button class='btn btn-primary' formaction="/conceptualSearch" type='submit'>Conceptual Notes</button>
    </form>
    <div class='text-center'>
        <img id='loading-gif' src="https://ui-ex.com/images/gif-transparent-loading-4.gif" alt="" visibility: hidden>
    </div>
</div>



{% endblock %}